.custom-article hr {
    height: 2px;
    border: 0;
    background: orange;
}
.custom-article hr:first-of-type {
    margin: 10px 0px 0px 0px;
}
.custom-article hr:last-of-type {
    margin: 0px 0px 10px 0px;
}
.custom-article table {
    border-collapse: collapse;
    margin-bottom: 0px;
    display: table;
}
.custom-article table:first-of-type tr:first-child td, th {
    border-top: 0;
}
.custom-article table:first-of-type tr:last-child td, th {
    border-bottom: 0;
}
.custom-article td, th {
    border-top: 0.5pt solid rgb(175, 171, 171);
    border-bottom: 0.5pt solid rgb(175, 171, 171);
    padding: 1.5%;
    font-size: 9pt;
    font-family: Calibri, sans-serif;
    vertical-align: top;
}
.custom-article th {
    width: 27%;
    text-align: left;
}
.custom-article p:last-of-type {
    margin-left: 1%;
    margin-bottom: 0.5%;
}
